@{
    ViewData["Title"] = "Home Page";
}

<p>This is the offical MMS Awesome tool</p>
<p>To begin using, first verify the machine is online, which will unlock the tabs above.</p>

<div class="row">
    <div class="col-md-5">
        <textarea></textarea>
    </div>
    <div class="col-md-5">
        <button type="button" class="btn btn-light">Verify</button>
    </div>
</div>
