<meta charset="utf-8">
<meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
<link rel="stylesheet" href="https://unpkg.com/vue-material/dist/vue-material.min.css">
<link rel="stylesheet" href="https://unpkg.com/vue-material/dist/theme/default.css">
   
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-material"></script>
    <script>
        Vue.use(VueMaterial.default)

        new Vue({
            el: '#app'
        })
    </script>

    <template>
        <div>
            <md-tabs>
                <md-tab id="tab-home" md-label="Home" md-icon="home"></md-tab>
                <md-tab id="tab-pages" md-label="Pages" md-icon="pages"></md-tab>
                <md-tab id="tab-posts" md-label="Posts" md-icon="/assets/icon-whatshot.svg"></md-tab>
                <md-tab id="tab-favorites" md-label="Favorites" md-icon="favorite"></md-tab>
            </md-tabs>

            <md-tabs class="md-primary" md-alignment="centered">
                <md-tab id="tab-home" md-icon="home"></md-tab>
                <md-tab id="tab-pages" md-icon="pages"></md-tab>
                <md-tab id="tab-posts" md-icon="/assets/icon-whatshot.svg"></md-tab>
                <md-tab id="tab-favorites" md-icon="favorite"></md-tab>
            </md-tabs>
        </div>
    </template>

    <script>
        export default {
            name: 'TabIcons'
        }
    </script>

    <style lang="scss" scoped>
        .md-tabs + .md-tabs {
            margin-top: 24px;
        }
    </style>
